.note{
    background: #ffec99;
    width: 60%;
}
button{
    border-radius: 25%;
    margin: 20px;
    padding: 20px;
    color: black;
    background-color: red;
    border-color: azure;
    font-size: medium;

}
.ten{
    display: flex;
    justify-content: space-between;
    list-style: none;

}
#ted{
    font-size: xx-large;
    color: red;
    font-style: oblique;
}
#ima{
    float: right;
     width: 50%;
     align-items: flex-start;
  
}
#null{
   margin-top: 20px;
 
}
.bree{
    font-size: x-large;
    font-style: oblique;
    color:purple;
}